# Default owners for everything in the repo.
# They will be assigned for review on all PRs.
* @trailheadapps/maintainers-agent-script-recipes
#ECCN:Open Source
#GUSINFO:Developer Relations,DevRel Content